<ion-view title="Tab 3 Default Page" id="page5">
    <ion-content padding="true" class="has-header">
        <h1 id="tab3DefaultPage-heading1" style="color:#000000;">Heading</h1>
        <form class="list">
            <ion-toggle toggle-class="toggle-balanced">Toggle</ion-toggle>
            <ion-radio>Radio</ion-radio>
            <label class="item item-input">
                <span class="input-label">Input</span>
                <input type="password" placeholder="">
            </label>
            <ion-item>Item</ion-item>
        </form>
    </ion-content>
</ion-view>